@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden{
    display: none;
    visibility: hidden;
}

:root{

    --bg: #F9F8F6;
    --primary: #1B1A1A;
    --secondary: #626262;
    --bg-card: #FFFFFF;

    --radius: 40px;
    --spacing: 1rem;
    --spacing-md: 1.6rem;
}

body{
    position: relative;
    background-color: var(--bg);
}

h1,h2{
    font-family: "Cormorant", serif;
    color: var(--primary);
}

h3{
    font-weight: 400;
}

h3,h4,h5,h6,p,a,span,button{
    font-family: "Inter", sans-serif;
    color: var(--primary);
}

header{
    display: flex;
    justify-content: space-between;
    padding: var(--spacing);
}

header .logo, .apresentaLivro-header > .titulo{
    display: flex;
    flex-direction: row;
}

.main-info{
    padding: var(--spacing-md);
}

button{
    padding: var(--spacing);
    border-radius: var(--radius);
    border: 1px solid black;
    cursor: pointer;
}

ul, li, a{
    display: flex;
    gap: var(--spacing);
    text-decoration: none;
}

footer{
    width: 100;
    position: fixed;
    bottom: 0;
    background-color: var(--bg-card);
}

.btn{
    background-color: var(--bg-card);
    color: var(--primary);
}

.btn-principal{
    background-color: var(--primary);
    color: var(--bg);
}

.apresentaLivro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    background-color: var(--bg-card);
    border: 1px solid var(--primary);
    border-radius: var(--radius);
    padding: var(--spacing);
}

.apresentaLivro-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.subtitulo::before{
    content: ", ";
}
